<html>
<head>
    <%- include('includes/header_meta', {}) %>
    <%- include('includes/header_css', {}) %>
</head>
 <body class="home-template"> 
  <header class="main-header"> 
   <div class="container"> 
    <div class="row"> 
     <div class="col-sm-12"> 
      <h1>plusplus7's blog</h1>  
      <h3>Life is tough, take it easy : )</h3> 
     </div> 
    </div> 
   </div> 
  </header> 
  <nav class="main-navigation"> 
   <div class="container"> 
    <div class="row"> 
     <div class="col-sm-12"> 
      <div class="navbar-header"> 
       <span class="nav-toggle-button collapsed" data-toggle="collapse" data-target="#main-menu"> <span class="sr-only">Toggle navigation</span> <i class="fa fa-bars"></i> </span> 
      </div> 
      <div class="collapse navbar-collapse" id="main-menu"> 
       <ul class="menu"> 
         <li role="presentation"><a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp;主&nbsp;&nbsp;页</a></li>
           <% top_list.forEach(function (top) { %>
           <li role="presentation"><a href="/blog/area/<%=top.category_id %>"><%=top.display_name %></a></li>
           <% }); %>
       </ul> 
      </div> 
     </div> 
    </div> 
   </div>
  </nav>
  <div class="container">
    <div class="row">
      <main class="col-md-12 main-content">
          <%- article.content %>
      </main>
      <main class="col-md-12 main-content">
        <div class="post-content">
        本文阅读量: <%- article.view_count %> 觉得文章很有用？来点<a href="/donation">赞助</a>吧～
        </div>
      </main>
      <div class="col-md-1"></div>
      <div class="col-md-10">
      <!-- 多说评论框 start -->
        <div class="ds-thread" data-thread-key="<%- article.article_id %>" data-title="plusplus7个人主页" data-url="http://plusplus7.com/blog/post/{{ article.article_id }}"></div>
        <!-- 多说评论框 end -->
        <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
        <script type="text/javascript">
        var duoshuoQuery = {short_name:"lemonbook"};
            (function() {
                var ds = document.createElement('script');
                ds.type = 'text/javascript';ds.async = true;
                ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
                ds.charset = 'UTF-8';
                (document.getElementsByTagName('head')[0] 
                || document.getElementsByTagName('body')[0]).appendChild(ds);
            })();
        </script>
        <!-- 多说公共JS代码 end -->
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
  <%- include('includes/footer_line', {}) %>
  <%- include('includes/footer_js', {}) %>
 </body>
</html>
